*{
    margin: 3px;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1, h2, h3,div{
    text-align: center;
}
.main-container{
    opacity: 0;
}
.input-group{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.form-control{
    max-width: 500px;
    margin: 0 6px 0 0;
}
#start-btn{
    max-width: 100px;
}
.hp-main-container, .pokemon-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hp-container{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    border: 1px solid black;
    border-radius: 7px;
    min-width: 1000px;
}
.pokemon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 16em;
    border-radius: 7px;
    min-width: 1000px;
}
.pokemon{
    
    border: 1px solid black;
    border-radius: 10px;
}

.buttons{
    margin-left: 25rem;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.power-buttons{
    max-width: 200px;
    margin: 5px;
}
img{
    width: 10em;
    height: 10em;
}

.select-pokemon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.select-pokemon-img{
    border: 1px solid black;
    border-radius: 10px;
}
.select-pokemon-img:hover{
    cursor: pointer;
    background-color: aliceblue;
}

@media only screen and (max-width: 768px) {
    img{
        width: 13em;
        height: 13em;
    }
    .form-control{
        max-width: 500px;
    }
    .hp-container{
        min-width: 500px;
    }
    .pokemon-container{
        height: 20em;
        min-width: 700px;
    }

    .buttons{
        margin-left: 100px;
    }
    .power-buttons{
        max-width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    body{
        height: 100vh;
        overflow: hidden;
    }
    img{
        width: 6em;
        height: 6em;
    }
    .form-control{
        max-width: 250px;
    }
    .hp-container{
        min-width: 320px;
    }
    .pokemon-container{
        height: 10em;
        min-width: 320px;
    }

    .buttons{
        margin-left: 30px;
    }
    .power-buttons{
        max-width: 150px;
    }
}
